<div class="main-container">
    <div>

        <div class="title">OUR COURSES</div>
        <hr>

    </div>

    <div class="flex-row">
        <div class="flex-container">
            <div class="sub-box1">F</div>
            <div class="sub-box2">Fine Art</div>
            <div class="sub-box3">I'm a paragraph. Click here to add your own text and edit me.
            </div>
        </div>
        <div class="flex-container">
            <div class="sub-box1">G</div>
            <div class="sub-box2">Graphic Design</div>
            <div class="sub-box3">I'm a paragraph. Click here to add your own text and edit me.
            </div>
        </div>
        <div class="flex-container">
            <div class="sub-box1">G</div>
            <div class="sub-box2">Graffiti</div>
            <div class="sub-box3">I'm a paragraph. Click here to add your own text and edit me.
            </div>
        </div>
        <div class="flex-container">
            <div class="sub-box1">I</div>
            <div class="sub-box2">Illustration</div>
            <div class="sub-box3">I'm a paragraph. Click here to add your own text and edit me.
            </div>
        </div>
    </div>

    <div>
        <a href="" class="link">Read More >></a>
    </div>
</div>

<div class="grid-container">
    <div class="grid-item"><img src="/assets/1.jpg" alt="Image 1"></div>
    <div class="grid-item"><img src="/assets/2.jpg" alt="Image 2"></div>
    <div class="grid-item"><img src="/assets/3.jpg" alt="Image 3"></div>
    <div class="grid-item"><img src="/assets/4.jpg" alt="Image 4"></div>
    <div class="grid-item"><img src="/assets/5.jpg" alt="Image 5"></div>
    <div class="grid-item"><img src="/assets/6.jpg" alt="Image 6"></div>
    <div class="grid-item"><img src="/assets/7.jpg" alt="Image 7"></div>
    <div class="grid-item"><img src="/assets/8.jpg" alt="Image 8"></div>
</div>

<div class="main-container">
    <div>

        <div class="title">Next Courses</div>
        <hr>

    </div>

    <div class="flex-row">
        <div class="flex-container">
            <div class="sub-box1">14</div>
            <div class="sub-box2">March</div>
            <div class="sub-box3">I'm a title. Click here to add your own text and edit me.
            </div>
        </div>
        <div class="flex-container">
            <div class="sub-box1">26</div>
            <div class="sub-box2">March</div>
            <div class="sub-box3">I'm a title. Click here to add your own text and edit me.
            </div>
        </div>
        <div class="flex-container">
            <div class="sub-box1">09</div>
            <div class="sub-box2">April</div>
            <div class="sub-box3">I'm a title. Click here to add your own text and edit me.
            </div>
        </div>
        <div class="flex-container">
            <div class="sub-box1">15</div>
            <div class="sub-box2">April</div>
            <div class="sub-box3">I'm a title. Click here to add your own text and edit me.
            </div>
        </div>
    </div>

    <div>
        <a href="" class="link">See All Courses >></a>
    </div>
</div>